* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Outfit", sans-serif;
}


:root {
  --pale-white: #FFFEFE;
  --light-grayish-blue: #F3F4F6;
  --dark-blue-gray: #394150;
  --black: #000000;
  --deep-indigo: #263FA9;
  --aqua: #86E7D4;
  --baby-blue: #9DC4F8;
  --pale-purple: #C1B6F8;
  --soft-pink: #EDACD2;
  --light-peach: #F8D8B0;
}


body {
  display: grid;
  justify-content: center;
  max-width: 40em;
  margin: 0.4rem 2rem;
}


.team-wrapper {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr)) */
  grid-template-columns: repeat(auto-fit minmax(300px, 1fr));
  border-radius: 0.8rem;
  overflow: hidden;
}


.team-header {
  background: var(--light-grayish-blue);
  background-image: url('./resources/Background_decor.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}


.team-header h1 {
  color: var(--black);
  font-size: 2.2rem;
}


.team-header p {
  color: var(--deep-indigo);
  font-size: 0.8rem;
}


.team-header .team-intro {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.2;
}


.member-liam {
  background-color: var(--pale-purple);
}


.member-sophia {
  background-color: var(--soft-pink);
}


.member-ethan {
  background-color: var(--baby-blue);
}


.member-isabella {
  background-color: var(--light-peach);
}


.member-noah {
  background-color: var(--aqua);
}


.photo-box {
  position: relative;
  top: 0.3125rem;
}


.team-photo {
  width: 100%;
}


.overlay {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 0;
}


.info {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  color: var(--pale-white);
  margin: 1rem;
  line-height: 1.4;
}


.info h2 {
  font-size: 1rem;
  font-weight: 500;
}


.info p {
  font-size: 0.8rem;
}


.team-member {
  display: block;
}


.see-more-box {
  display: flex;
  min-height: 280px;
  background-color: var(--light-grayish-blue);
  align-items: flex-end;
}


.see-more {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin: 0 0 30px 31px;
}


.see-more p {
  font-size: 0.9rem;
  color: var(--black);
}

@media (min-width: 56em) {
  body {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: none;
    min-height: 100vh;
  }
  
  
  .team-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 0.8rem;
  overflow: hidden;
}
  
  
  
  
  
  
  
}